nav{
    padding: 10px 2%;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 , 0, 0 ,0.2);
    position: sticky;
    top: 0;
    z-index: 999999px;
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
}
.nav-left .logo{
    width: 130px;
}

.nav-middle{
    display: flex;
    align-items: center;
}

.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
    display: flex;
}
.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: none;
    background-color: transparent;
    
}
.nav-middle .search-box img{
    width: 15px;
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-right img{
    width: 25px;
margin-right: 25px;
}
.nav-right .user_icon{
    width: 35px;
    border-radius: 50%;
}